.homePageHeader {
    background-color: rgb(75, 197, 69);
}

.homePageHeader h1 {
    margin-left: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    font-family: 'tribecaFont';
    font-size: 3em;
    font-weight: normal;
    padding: 5px;
}
@font-face {
    font-family: "tribecaFont";
    src: url("../fonts/TribecaRegular.ttf") format("truetype");
}


.postPage {
    margin-left: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0;
}