.miniCardUnselected {
    background-color: #8eff8e;
    width: 150px;
    height: 50%;
    box-shadow: rgba(0,0,0,0.403) 0px 10px 20px;
    text-align: center;
    border: 4px solid #4F4F4F;
    margin: 60px;
}

.miniCardSelected {
    background-color: #8eff8e;
    width: 150px;
    height: 50%;
    box-shadow: rgba(0,0,0,0.403) 0px 10px 20px;
    text-align: center;
    border: 4px solid gold;
    margin: 60px;
}

.miniCardUnselected:hover {
    border: 4px solid #25d61f
}

.miniCardSelected:hover {
    border: 4px solid #25d61f
}

.miniCardUnselected img {
    width: 150px;
    height: auto;
}

.miniCardSelected img {
    width: 150px;
    height: auto;
}