.navBar {
    background-color: rgb(75, 197, 69);
    font-weight: 500;
    color: black; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    height: 60px; 
    gap: 50px;
    margin-bottom: 50px;
}

.navBar button {
    background-color: rgb(75, 197, 69);
    border: none;
    color: white;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.navBar button:hover {
  background-color: rgb(99, 255, 91);
}