.plantPage {
    margin-left: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0;
}

.profileContainer h2 {
    margin-left: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.newPlantFormContainer {
    margin-left: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profileContainer .postCard {
    height: 580px;
}

.profileContainer .postCard img {
    margin-top: 15px;
}

.profileContainer h1 {
    margin-left: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profileContainer button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}
.profileContainer button:hover {
    background-color: #60d364;
}

.newPlant {
    margin-left: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.displayContainer {
    margin-left: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.button:hover {
    background-color: #60d364;
}

.commentContainer {
    display: grid;
    text-align: center;
}
